{% extends 'base.html' %}
{% load static %}

{% block title %}RunCrunch - Thank You!{% endblock %}

{% block content %}

	<div class="row"></div>
	<br>
	
	{% if success != 'False' %}
	<div class="alert alert-primary" role="alert">
		<span class="alert-icon"><i class="ni ni-satisfied"></i></span>
		<span class="alert-text"><strong>Thank you!</strong> Your payment of ${{ amount }}.00 has been received.</span>
	</div>

	<div class="row justify-content-center">
		<a href="/dashboard"><button type="button" class="btn btn-block btn-outline-primary">Back to Dashboard</button></a>
	</div>
	{% else %}
	<div class="alert alert-warning" role="alert">
		<span class="alert-icon"><i class="ni ni-satisfied"></i></span>
		<span class="alert-text"><strong>Oops!</strong> Your payment was invalid, please try again.</span>
	</div>
	<div class="row justify-content-center">
		<a href="/support"><button type="button" class="btn btn-block btn-outline-primary">Try Again</button></a>
	</div>
	{% endif %}
	
{% endblock %}
