{% extends 'base.html' %}
{% load static %}

{% block title %}RunCrunch - Announcements{% endblock %}
	
	{% block content %}
	
	<div class="row mb-3"></div>
	
	<!-- <div class="card card-stats">
		
		<p class="display-3 text-center">Announcement - 6/26/2020</p>
		
		<div class="px-5">
			
			<p>Notice: I'm having issues with Strava API rate limits. Once that gets resolved importing should be good to go.</p>
			
		</div>
	</div>  -->
	
	<div class="card card-stats">
		
		<p class="display-3 text-center">Announcement - 6/26/2020</p>
		
		<div class="px-5">
			
			<p>There was an issue with bulk imports. If you tried importing activity data and nothing showed up, try again and it showed be working now.</p>
			
		</div>
	</div>
	

{% endblock %}

